# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Ignores the whole .idea folder and all .iml files
# See https://github.com/joeblau/gitignore.io/issues/186 and https://github.com/joeblau/gitignore.io/issues/360
.idea/

# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023
*.iml

# Scripts for developing
/scripts/

# Files for running CQ with provider
/config.hcl
/cq-provider-yandex
/.cq_reattach

# Idea project files
modules.xml
.idea/misc.xml
*.ipr

# Secrets
/key.json
