{
    Name:        {{.Name | printf "%q"}},
    Type:        {{.Type}},
    Description: {{.Description | printf "%q"}},
    Resolver:    {{.Resolver}},
    CreationOptions: schema.ColumnCreationOptions{Nullable: {{.Nullable}}, Unique: {{.Unique}}},
},
