func fetch{{.Service}}{{.Resource}}{{.AbsolutePath | asFqn | join ""}}(_ context.Context, _ schema.ClientMeta, parent *schema.Resource, res chan interface{}) error {
    values := funk.Get(parent.Item, {{.RelativePath | join "." | printf "%q"}})

	if funk.IsIteratee(values) {
		funk.ForEach(values, func(value interface{}) {
			res <- value
		})
	}

	return nil
}
