func fetchServerless{{.Resource | plural}}(ctx context.Context, meta schema.ClientMeta, _ *schema.Resource, res chan interface{}) error {
	c := meta.(*client.Client)

	req := &{{.Resource | flat}}.List{{.Resource}}Request{FolderId: c.MultiplexedResourceId}
	it := c.Services.{{.Resource}}.{{.Resource}}().{{.Resource}}Iterator(ctx, req)
	for it.Next() {
		res <- it.Value()
	}

	return nil
}
