{
		Name:         {{if .Alias}}{{.Alias | printf "%q"}}{{else}}{{print "yandex_serverless_" (.Resource | snake) "_" (.AbsolutePath | asFqn | join "" | snake) | printf "%q"}}{{end}},
		Resolver:     fetchServerless{{.Resource}}{{.AbsolutePath | asFqn | join ""}},
		Multiplex:    {{.Multiplex}},
		IgnoreError:  client.IgnoreErrorHandler,
		Columns: []schema.Column{
{{range .Columns}}{{template "column.go.tmpl" .}}{{end}}
		},
{{with .Relations}}
		Relations: []*schema.Table{
{{range .}}{{template "relation.go.tmpl" .}}{{end}}
		},
{{end}}
},
